@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Raleway:ital,wght@1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body{
    background-color: black;
    
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-top: 10%;
    text-align: center;
}

.cta{
 text-align: center;
}
.text{
    font-size:200%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
    background-image: linear-gradient(to right,#00F260,#f79d00,#0575E6,#6438fc);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bolder;
    font-family: 'Cormorant SC', serif;
    font-size: 130px;
    color:transparent;
}

h3{
  color: white;
  font-size: 50px;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.cta b{
  font-family: 'PT Sans', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  color: #00F260;
  padding: 3px;
  text-decoration: underline;

}

button{
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  border: #00F260 2px solid;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bolder;
}


button:hover{
  background-color: #00F260;
  color: white;
  width: 325px;
  height: 60px;
}

a{
  text-decoration: none;
  color: black;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: orange; }
  }


  